:root{
    --white:#f7f7f7;
    --beige:#dfdbd5;
    --black:#111111;
    --blue:#2867e3;
    --pink:#F996D7;
    --grey:#333231;
}

@font-face {
    font-family: "Francois";
    src: url(Francois_One/FrancoisOne-Regular.ttf);
  }

@font-face {
    font-family: "Lora";
    src: url(Lora/static/Lora-SemiBoldItalic.ttf);
}

