* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana;
    background-color: #111111;
    color: #F7F7F7;
    letter-spacing: 0.2rem;
    background-size: 7rem 7rem;
    background-image:
          linear-gradient(to right, rgb(249,150,215,20%) 1px, transparent 1px),
          linear-gradient(to bottom, rgb(249,150,215,20%) 1px, transparent 1px);
}

/* BLUE LINE START */
.line {
    display: flex;
    justify-content: center; /* for at centrere den */
}

.blue-line {
    position: absolute; /* placere den et fast sted på siden */
    margin-top: -14rem; /* hvor den kommer ind/starter fra toppen - idk det her er bare guess work*/
    width: 100%; /* størrelse på linjen */
    z-index: -1;
}
/* BLUE LINE END */

.cta {
    background-color: #F7F7F7;
    padding: .5rem 1rem;
    color: #111111;
    border-radius: .5rem;
    width: fit-content;
    font-family: "Lora";
    font-size: 1.6rem;
}

.cta:hover {
    background-color: #F996D7;
    cursor: pointer;
}

.cta:active {
    background-color: #2867e3;
}

.button {
    color: #F7F7F7;
}

.button:hover {
    color: #F996D7;
}

.button:active {
    color: #2867e3;
}

a {
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 150;
    color: #F996D7;
    letter-spacing: 0;
    font-size: 1rem;
    font-family: 'Francois';
}

h1 {
    font-family: "Francois";
    font-size: 4.5rem;
    color: #111111;
    line-height: 9rem;
    letter-spacing: 0.6rem;
    z-index: 25;
}

h2 {
    font-family: "Francois";
    font-size: 2.8rem;
    letter-spacing: 0.125rem;
    z-index: 24;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 2%;
}

.bold {
    font-size: 4.5rem;
}

.serif {
    font-family: "Lora";
    font-size: 2.5rem;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 2rem;
    z-index: 100;
}

.topmenu {
    z-index: 100;
}

.topmenu-links {
    display: flex;
    list-style-type: none;
    font-family: "Francois";
    font-size: 1rem;
}

.topmenu-links a {
    padding: 2rem;
    color: #F7F7F7;
}

.topmenu-links a:hover {
    color: #F996D7;
}

.topmenu-links a:active {
    color: #2867e3;
}

.topmenu-links .active {
    color: #F996D7;
}

.menu-toggle {
    display: none; /* gemmer checkbox */
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: #111111;
    margin-top: 6rem;
}

footer p{
    font-size: .6rem;
}

.footer-logo{
    width: 8rem;
}

.section1 {
    grid-column: 1;
    margin: 2rem;
    justify-self: left;
}

.section2{
    grid-column: 2;
    margin: 2rem;
}

.section3{
    grid-column: 3;
    text-align: right;
    margin: 2rem;
    justify-self: right;
}

.section4 {
    grid-column: 1;
    justify-self: left;
}

.socials {
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.fa-brands {
    width: 2rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}

/* LANDING */
.container1 {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.h1 {
    background-color: #F7F7F7;
}

/* BRANDING LANDING */
.container2 {
    display: flex;
    padding-left: 8rem;
    padding-top: 9rem;
    padding-bottom: 8rem;
}

.branding {
    display: flex;
    flex-direction: column;
}

.branding p {
    padding: 2rem 5rem 2rem 0rem;
    max-width: 40rem;
}

.video1 {
    padding: 2rem;
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.container2-vid {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 8rem;
    margin-top: 10rem;
}

/* PORTFOLIO LANDING PAGE */
.container3 {
    display: flex;
    flex-direction: column;
    padding: 7rem 0;
}

.container3 h2 {
    padding-left: 8rem;
}

.img-scroll {
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 22;
}

div.img-scroll1 {
    overflow: auto; /* har valgt hidden for at gemme scrollbar, men af samme grund fungerer scroll ikke */
    white-space: nowrap;
    direction: rtl;
    padding-bottom: 1.5rem;
}

.img-scroll1::-webkit-scrollbar {
    display: none;
}
  
div.img-scroll1 img {
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    width: 14rem;
    height: 7rem;
    object-fit: cover;
  }

div.img-scroll2 {
    overflow: auto; /* samme her, skal fikses somehow */
    white-space: nowrap;
}

.img-scroll2::-webkit-scrollbar {
    display: none;
}
  
div.img-scroll2 img {
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    width: 27rem;
    height: 15rem;
    object-fit: cover;
}

.container3 .button  {
    display: flex;
    justify-content: center;
}

/* SERVICES LANDING PAGE */
.container4 {
    padding: 8rem 0;
}

.container4 h2 {
    padding-left: 8rem;
}

.container4 p {
    padding: 0 8rem 0 8rem;
}

.services {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: #111111;
}

.container4 h3 {
    font-family: 'Francois';
    color: #F7F7F7;
    font-size: 1.75rem;
}

.box li {
    padding: 0.5rem 1.5rem 0 1rem;
    color: #F7F7F7;
    font-family: 'verdana';
    font-size: 0.8rem;
    letter-spacing: 0;
    list-style-position: inside;
    margin-left: 0rem;
    text-align: start;
}

.box {
    width: 18rem;
    height: 24rem;
    border-radius: .8rem;
    margin: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    z-index: 20;
    border: #F996D7 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    background-color: #111111;
}

.package {
    font-family: 'francois';
    color: #F7F7F7;
    font-size: .5rem;
    margin-bottom: .5rem;
}

.box:hover {
    border: none;
    top: -10px;
    background-image: linear-gradient(#f7f7f7, #F996D7);
}

.box:hover > .bundle-heading p {
    color: var(--grey);
}
.box:hover > .bundle-heading h3 {
    color: var(--grey);
}

.box:hover > ul li {
    color: var(--grey);
} 

.box:hover > .service-btn {
    background-color: #F7F7F7;
    border: none;
    color: #111111;
}

.service-btn {
    display: flex;
    justify-content: center;
    border: #F996D7 solid 1px;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    font-size: .75rem;
    font-family: 'francois';
    margin-top: 2rem;
    letter-spacing: .1rem;
}

#service-btn:hover {
    background-color: #F996D7;
    color: white;
}

/* THE TEAM ON LANDING PAGE */
.container5 {
    padding: 0 8rem 0 8rem;
    display: flex;
    flex-direction: column;
}

.container5 h2 {
    padding-left: 2rem;
}

.team-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team-pic {
    object-fit: fill;
    height: 100%;
    width: 90%;
    border-radius: 0.5rem;
}

.overlay-text1{
    height: 100%;
    width: 90%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 2;
    background-color: var(--pink); 
    color: #111111; 
    padding-top: 17%; 
    font-size: 65px; 
    text-align: center;
    font-family: Francois;
    font-weight: 700;
    border-radius: 0.5rem;
}

.overlay-text1 a{
    color: #111111; 
    position: relative;
    font-size: 45px; 
    text-align: center;
    font-family: Francois;
    font-weight: 700;
    border-radius: 0.5rem;
}

.overlay-text1:hover{
    opacity: 75%;
    transition: 0.5s;
} 

.overlay-text1 a:hover{
    opacity: 100%;
    transition: 0.5s;
    color: white;
} 

/* CONTACT LANDING PAGE*/
.container6  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}

.paperplane {
    width: 100%;
    margin-top: 3rem;
    margin-left: -12rem;
}

.container6 .button {
    z-index: 30;
    margin-top: 2%;
}

/* About page*/
.overskrift-about{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    padding-top: 10%;
    padding-left: 20%;
    padding-bottom: 15rem;
    color: var(--blue);
    z-index: 99;
}

.speciel1{
    font-family: 'Lora';
    font-size: 2.5rem;
    opacity: 60%;
}

.speciel2{
    font-family: 'Francois';
    font-size: 4rem;
    font-weight:800;
}

.video2 {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 70%;
}

.container3-vid {
    display: fixed;
    margin-top: -150px;
    position: absolute;
    width: 100%;
}

.grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 14rem;
    padding-right: 14rem;
    padding-bottom: 10rem;
    padding-top: 35rem;
}

.grid_1-1-1 img{
    object-fit: cover;
    height: 230px;
    width: 230px;

}

.grid_1-1-1 h2{
    grid-column: 1/4;
    grid-row: 1/2;
    padding-top: 10rem;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.portrait {
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.overlay-text{
    height: 230px;
    width: 230px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pink); 
    color: var(--white); 
    padding: 110px 20px; 
    font-size: 20px; 
    text-align: start;
    line-height: 25px;
}

.overlay-text:hover{
    opacity: 70%;
    transition: 0.5s;
}

.navn{
    font-family: 'Lora';
    font-size: 14px;
}

.jobtitel{
    font-family: 'Francois';
    font-weight: bold;
    font-size: 12px;
    color: var(--white);
}

.email{
    font-size: 13px;
    font-family: 'Verdana';
}

.tlf{
    font-size: 13px;
    font-family: 'Verdana';
}

.services1 {
    justify-content: center;
    text-align: center;
    color: #111111;
}

.package1 {
    font-family: 'francois';
    color: #F7F7F7;
    font-size: .5rem;
    margin-bottom: .5rem;
}

.services1 h3 {
    font-family: 'Francois';
    color: #F7F7F7;
    font-size: 1.5rem;
    font-weight: bold;
}

.services1 p {
    padding: 1rem 2rem 0 2rem;
    color: #F7F7F7;
    font-family: 'Lora';
    font-size: 1rem;
    letter-spacing: 0;
    list-style-position: inside;
    align-items: center;
}

.about-box {
    margin-top: 2px;
    margin-left: 2px;
    width: 230px;
    height: 230px;
    border: #F996D7 solid 1px;
    border-radius: 0;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    background-color: #111111;
}


.about-service-btn {
    display: flex;
    justify-content: center;
    background-color: #111111;
    border: #F996D7 solid 1px;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    font-size: .75rem;
    font-family: 'francois';
    margin-top: 2rem;
    letter-spacing: .1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.about-box:hover {
    background-image: linear-gradient(#f7f7f7, #F996D7);
    border: none;
    top: -10px;
    opacity: 90%;
}

#about-service-btn:hover {
    background-color: #F996D7;
    color: white;
}

.box11:hover > h3{
    color: var(--grey);
}

.box11:hover > p{
    color: var(--grey);
}

.about-box:hover > .about-service-btn{
    background-color: var(--white);
    color: #111111;
    border: none;
}

.bluebox{
    background-color: var(--blue);
    padding-right: 14rem;
    padding-left: 14rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    width: 100%;
}

.bluebox h2{
    padding-bottom: 1rem ;
}

.bluebox h3{
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.bluebox p {
    font-size: .75rem;
}

/* SERVICES PAGE */
.service-header {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 35%;
    padding-bottom: 12rem;
}

.service-header .serif {
    font-size: 3rem;
}

.service-header .bold {
    font-size: 6rem;
}
.offer-container{
    padding-top: 2.5rem;
    padding-bottom: 8rem;
}

.offer-header{
    padding-left: 9%;
}
.offer-box{
    background-color: #111111;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.offer-box h3{
    padding-top: 1.5rem ;
}

.bundles-container {
    padding: 2rem 0;
}

.bundles-container h2 {
    padding-left: 15rem;
}

.service-bundles {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding-top: 1rem;
    color: #111111;
}

.bundle .serif {
    text-align: left;
    padding: 0;
    font-size: .75rem;
}

.bundles-container h3 {
    font-size: 1.75rem;
    padding: 0;
}

.bundle {
    width: 48rem;
    height: max-content;
    border: #F996D7 solid 1px;
    border-radius: .5rem;
    color: #F7F7F7;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.bundle:hover {
    background-color: rgb(249,150,215, 70%);
}

.bundles-btn {
    display: flex;
    border-radius: 2rem;
    padding: 0;
    font-size: .75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    letter-spacing: .1rem;
}

.bundle:hover > .bundles-btn {
    color: #111111;
}

.bundle:hover > .bundles-btn:hover {
    color: #F996D7;
}


/* PORTFOLIO PAGE */
.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 8rem;
    justify-content: center;
}

.img5 {
    width: 100%;
    margin-bottom: -.22rem;
    object-fit: fill;
}

.img5:hover {
    opacity: 0.2;
}

.portfolio-container{
    position: relative;
    background-color: #F7F7F7;
}

.portfolio-text{
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    font-size: 25px;
    font-family: 'Francois';
    color: #111111;
    padding-right: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.portfolio-text p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;
}

.portfolio-text .portfolio-overskrift{
    font-size: 22.6px;
    font-weight: 400;
    font-family: 'Francois';
    padding-bottom: 0.5rem;
    color: #111111;
}


.portfolio-container:hover > .portfolio-text{
    opacity: 100%;
    transition: 0.5s;
}

/* CONTACT PAGE */
.contact-container {
    display: flex;
    padding: 2rem 12rem;
}

.contact {
    padding-right: 3rem;
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], textarea, select {
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: #333231;
    color: #dfdbd5;
    border: none;
    width: 24rem;
    font-family: Verdana;
    letter-spacing: .125rem;
}

.textarea {
    background-color: #333231;
    color: #dfdbd5;
}

input[type=text], textarea, select:focus {
    outline: none;
}

::placeholder {
    color: #dfdbd5;
    font-family: Verdana;
    font-style: italic;
    font-size: .8rem;
}

input[type=submit] {
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: #F7F7F7;
    border: none;
    color: #111111;
    font-family: "lora";
    font-size: 1.6rem;
}

input[type=submit]:hover {
    background-color: #F996D7;
    cursor: pointer;
}

input[type=submit]:active {
    background-color: #2867e3;
}

/* CONTACT SLIDE PAGE */
.slide {
    background-color: #F996D7;
}

.fa-x {
    padding: 2rem;
    color: #F7F7F7;
}

.fa-x:hover {
    color: #2867e3;
}

.fa-x:active {
    color: #183c85;
}

.slide-line {
    margin-top: 6rem;
}

.slide-container {
    padding-top: 0;
    margin-top: -4rem;
}

.slide input[type=text], textarea, select {
    background-color: #F7F7F7;
    color: #111111;
}

.slide ::placeholder {
    color: #999999;
}

.slide input[type=submit]:hover {
    background-color: #2867e3;
    cursor: pointer;
}

.slide input[type=submit]:active {
    background-color: #183c85;
}